.nav-link.active {
  background-color: #fff;
  border-radius: 2px;
  color: #1e6c93 !important;
}

@media (max-width: 1080px) {
  .navbar-brand {
    max-width: calc(100% - 700px);
  }
}

@media (max-width: 769px) {
  .navbar-brand {
    max-width: initial;
  }
}

@media (max-width: 361px) {
  .navbar-brand {
    max-width: calc(100% - 80px);
    font-size: 12px;
    overflow-x: hidden;
  }
}

@media (max-width: 769px) {
  .navbar {
    background-color: #212121;
  }
}

@media (min-width: 768px) {
  .nav-item.dropdown.show > .nav-link, .nav-item > .nav-link:hover {
    background-color: #fff;
    color: #1e6c93 !important;
    border-radius: 2px;
  }
}

.nav-item {
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 768px) {
  .nav-item > .dropdown-menu {
    margin-top: 0px;
    background-color: #4e5d6c;
    border-radius: 0px 4px 12px 4px;
  }
}

@media (max-width: 768px) {
  .nav-item > .dropdown-menu {
    background-color: transparent;
    padding-top: 0px;
    margin-top: 0px;
    border-left: 1px solid #fff;
  }
}

.dropdown-divider {
  margin-left: 10px;
  margin-right: 10px;
  border-color: #aaa;
}

.nav-link {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.dropdown-item.nav-link {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px !important;
  font-size: 14px;
}

@media (max-width: 768px) {
  .nav.navbar-nav {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .dropdown-item.nav-link:hover, .nav-item.dropdown > .dropdown-menu > .dropdown-item:hover {
    background-color: #485563;
    color: #fff !important;
  }
}

.navbar-brand-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 10px;
}

.navbar-account-image {
  height: 28px;
  width: 28px;
  float: left;
  border-radius: 50%;
  border: 1px solid #fff;
}

