.parallax-div {
  height: 500px;
  width: 100%;
  /*background-color: #aaa !important;*/
  /*background-color: #1e6c93 !important;*/
  background-image: url("https://unsplash.it/1800/900?image=1051");
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  display: table;
}

.parallax-div.half {
  height: 250px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.parallax-content-div {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.parallax-brand-icon {
  margin-top: 10px;
  max-height: 120px;
  max-width: 120px;
  border-radius: 50%;
}

