.VisibilityHidden {
  visibility: hidden;
}

.login-dark {
  background: #475d62 url(../../../assets/img/star-sky.jpg);
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.user-has-account {
  display: block;
  text-align: center;
  font-size: 12px;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

p {
  color: black;
  font-family: 'ABeeZee';
}

a {
  font-weight: bold;
}

.sign-up-p {
  margin-top: 20px;
  color: #DDD;
}

.sign-up-divider {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 1px;
  background-color: #888;
}

.sign-up-connections {
  position: relative;
}

.sign-up-verify-fb {
  width: 70px;
  position: absolute;
  left: 25px;
  top: 10px;
}

.sign-up-verify-discord {
  width: 70px;
  position: absolute;
  right: 25px;
  top: 10px;
}

.login-dark-2 {
  height: 1400px;
}

.signing-error {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 0px;
}

.login-btn-block {
  width: 49%;
  height: 80px;
  text-align: center;
  display: block;
}

.login-btn-facebook {
  background-color: #3b5998;
  float: left;
}

.login-btn-discord {
  background-color: #7289DA;
  float: right;
}

.login-btn-facebook-icon {
  width: 40px;
  height: 40px;
}

.login-btn-discord-icon {
  width: 54px;
  height: 54px;
  margin-top: 4px;
}

